<a href="https://colab.research.google.com/github/casualcomputer/accounting_fraud/blob/master/rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data_url = "https://raw.githubusercontent.com/casualcomputer/accounting_fraud/master/uscecchini28.csv"
df = pd.read_csv(data_url, error_bad_lines=False)
df

        fyear   gvkey    sich  insbnk  ...       dpi      reoa      EBIT    ch_fcf
0        1990    1009  3460.0       0  ...  0.873555  0.167620  0.161961 -0.042140
1        1990    1011  4841.0       0  ...  0.745139 -0.428957 -0.157888  0.100228
2        1990    1017  3812.0       0  ...  1.015131  0.394768  0.063681  0.066348
3        1990    1021  3861.0       0  ...  1.026261  0.094822  0.088347 -0.017358
4        1990    1028  7385.0       0  ...  0.598443 -0.942379 -0.700821  0.130349
...       ...     ...     ...     ...  ...       ...       ...       ...       ...
146040   2014  314866  8200.0       0  ...  0.829680 -0.327178 -0.008179 -0.261606
146041   2014  315318  2890.0       0  ...  0.743084 -0.077826  0.000461 -0.296702
146042   2014  316056  3420.0       0  ...  1.063878 -0.002877  0.153133  0.065569
146043   2014  317260  4412.0       0  ...       NaN  0.000000  0.028804       NaN
146044   2014  317264  4412.0       0  ...  0.745399  0.025562  0.026433 -0.240183

[146045 rows x 51 columns]