<a href="https://colab.research.google.com/github/casualcomputer/accounting_fraud/blob/master/rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data_url = "https://raw.githubusercontent.com/casualcomputer/accounting_fraud/master/uscecchini28.csv"
df = pd.read_csv(data_url, error_bad_lines=False)

In [7]:
# different companies
list(df['gvkey'].unique())

[1009,
 1011,
 1017,
 1021,
 1028,
 1034,
 1036,
 1043,
 1045,
 1050,
 1054,
 1056,
 1058,
 1065,
 1073,
 1075,
 1078,
 1081,
 1082,
 1094,
 1095,
 1096,
 1098,
 1099,
 1104,
 1108,
 1109,
 1111,
 1115,
 1116,
 1117,
 1121,
 1128,
 1137,
 1138,
 1141,
 1151,
 1154,
 1155,
 1161,
 1164,
 1166,
 1171,
 1173,
 1181,
 1186,
 1189,
 1197,
 1203,
 1208,
 1209,
 1210,
 1212,
 1213,
 1228,
 1230,
 1231,
 1234,
 1235,
 1238,
 1239,
 1240,
 1243,
 1244,
 1245,
 1250,
 1253,
 1254,
 1255,
 1257,
 1260,
 1262,
 1264,
 1266,
 1279,
 1281,
 1283,
 1286,
 1297,
 1300,
 1311,
 1318,
 1324,
 1327,
 1328,
 1331,
 1334,
 1351,
 1356,
 1359,
 1360,
 1365,
 1372,
 1380,
 1382,
 1392,
 1397,
 1410,
 1411,
 1430,
 1431,
 1439,
 1440,
 1441,
 1444,
 1446,
 1462,
 1468,
 1470,
 1472,
 1475,
 1485,
 1491,
 1494,
 1495,
 1496,
 1497,
 1498,
 1500,
 1506,
 1511,
 1513,
 1523,
 1527,
 1530,
 1532,
 1533,
 1537,
 1539,
 1542,
 1543,
 1544,
 1546,
 1554,
 1560,
 1564,
 1573,
 1577,
 1581,
 1585,
 1586,
 1587,
 1593,
 1594,
 1597,
 1598,
 1602,
 1606,
 1608,
 1609,
 1627,
 1632,
 1633,
 1634,
 1635,
 1640,
 1641,
 1642,
 1650,
 1651,
 1655,
 1661,
 1663,
 1675,
 1677,
 1678,
 1681,
 1682,
 1686,
 1703,
 1704,
 1706,
 1707,
 1712,
 1718,
 1721,
 1722,
 1724,
 1728,
 1729,
 1739,
 1746,
 1749,
 1753,
 1754,
 1755,
 1762,
 1766,
 1772,
 1773,
 1779,
 1780,
 1781,
 1783,
 1786,
 1789,
 1790,
 1794,
 1797,
 1798,
 1802,
 1819,
 1820,
 1822,
 1823,
 1824,
 1828,
 1832,
 1835,
 1837,
 1843,
 1848,
 1849,
 1855,
 1856,
 1860,
 1864,
 1865,
 1866,
 1868,
 1873,
 1875,
 1877,
 1884,
 1895,
 1900,
 1902,
 1903,
 1905,
 1913,
 1919,
 1920,
 1923,
 1926,
 1930,
 1939,
 1940,
 1943,
 1951,
 1953,
 1968,
 1969,
 1971,
 1973,
 1974,
 1976,
 1979,
 1981,
 1988,
 1989,
 1990,
 1992,
 1995,
 2006,
 2008,
 2011,
 2013,
 2028,
 2033,
 2034,
 2044,
 2049,
 2052,
 2054,
 2055,
 2057,
 2058,
 2060,
 2061,
 2070,
 2072,
 2073,
 2076,
 2080,
 2085,
 2088,
 2091,
 2100,
 2101,
 2111,
 2113,
 2124,
 2127,
 2130,
 2136,
 2138,
 2146,
 2149,
 2154,
 2158,
 2162,
 2163,
 2169,
 2175,
 2183,
 2184,
 2188,
 2189,
 2190,
 2193,
 2197,
 2201,
 2205,
 2209,
 2213,
 2214,
 2215,
 2220,
 2222,
 2230,
 2235,
 2237,
 2239,
 2240,
 2246,
 2249,
 2250,
 2251,
 2252,
 2253,
 2255,
 2259,
 2264,
 2265,
 2267,
 2269,
 2270,
 2271,
 2277,
 2282,
 2283,
 2285,
 2289,
 2290,
 2293,
 2294,
 2299,
 2302,
 2304,
 2308,
 2309,
 2316,
 2327,
 2328,
 2334,
 2336,
 2337,
 2338,
 2340,
 2342,
 2345,
 2346,
 2352,
 2356,
 2362,
 2375,
 2376,
 2390,
 2393,
 2396,
 2402,
 2403,
 2406,
 2408,
 2411,
 2416,
 2424,
 2433,
 2435,
 2436,
 2437,
 2439,
 2443,
 2445,
 2447,
 2448,
 2461,
 2464,
 2467,
 2482,
 2484,
 2497,
 2504,
 2507,
 2508,
 2515,
 2518,
 2526,
 2527,
 2529,
 2535,
 2536,
 2537,
 2538,
 2541,
 2553,
 2554,
 2555,
 2556,
 2561,
 2562,
 2566,
 2572,
 2573,
 2574,
 2589,
 2595,
 2596,
 2597,
 2598,
 2602,
 2604,
 2606,
 2614,
 2615,
 2622,
 2625,
 2628,
 2633,
 2634,
 2644,
 2646,
 2662,
 2665,
 2674,
 2677,
 2679,
 2694,
 2697,
 2698,
 2703,
 2710,
 2712,
 2721,
 2729,
 2740,
 2742,
 2751,
 2763,
 2771,
 2781,
 2783,
 2785,
 2787,
 2788,
 2796,
 2797,
 2800,
 2802,
 2803,
 2807,
 2810,
 2811,
 2812,
 2817,
 2818,
 2820,
 2826,
 2829,
 2832,
 2839,
 2846,
 2847,
 2856,
 2858,
 2859,
 2860,
 2870,
 2872,
 2884,
 2888,
 2889,
 2891,
 2896,
 2897,
 2905,
 2908,
 2909,
 2916,
 2917,
 2918,
 2928,
 2929,
 2930,
 2938,
 2939,
 2942,
 2950,
 2951,
 2953,
 2955,
 2960,
 2962,
 2963,
 2965,
 2967,
 2975,
 2982,
 2983,
 2986,
 2991,
 2999,
 3007,
 3011,
 3013,
 3015,
 3016,
 3026,
 3033,
 3036,
 3039,
 3041,
 3048,
 3050,
 3051,
 3053,
 3054,
 3055,
 3057,
 3062,
 3063,
 3078,
 3087,
 3091,
 3093,
 3099,
 3104,
 3105,
 3107,
 3108,
 3114,
 3116,
 3121,
 3122,
 3124,
 3126,
 3129,
 3130,
 3132,
 3134,
 3138,
 3144,
 3148,
 3153,
 3156,
 3157,
 3158,
 3165,
 3170,
 3172,
 3178,
 3185,
 3203,
 3206,
 3212,
 3213,
 3216,
 3218,
 3226,
 3227,
 3228,
 3229,
 3234,
 3235,
 3244,
 3246,
 3248,
 3253,
 3255,
 3257,
 3265,
 3270,
 3273,
 3275,
 3277,
 3278,
 3282,
 3288,
 3289,
 3297,
 3304,
 3306,
 3311,
 3315,
 3325,
 3333,
 3334,
 3336,
 3342,
 3343,
 3354,
 3362,
 3365,
 3366,
 3368,
 3369,
 3372,
 3373,
 3375,
 3383,
 3391,
 3394,
 3400,
 3413,
 3415,
 3416,
 3419,
 3422,
 3424,
 3425,
 3426,
 3432,
 3438,
 3439,
 3444,
 3461,
 3465,
 3478,
 3482,
 3491,
 3497,
 3500,
 3502,
 3503,
 3504,
 3505,
 3515,
 3520,
 3524,
 3532,
 3538,
 3539,
 3556,
 3557,
 3558,
 3570,
 3574,
 3580,
 3584,
 3586,
 3594,
 3599,
 3600,
 3601,
 3609,
 3610,
 3612,
 3615,
 3617,
 3619,
 3622,
 3625,
 3628,
 3637,
 3639,
 3640,
 3642,
 3647,
 3650,
 3657,
 3662,
 3665,
 3668,
 3674,
 3683,
 3684,
 3686,
 3691,
 3693,
 3700,
 3702,
 3705,
 3711,
 3712,
 3713,
 3735,
 3736,
 3747,
 3751,
 3756,
 3760,
 3761,
 3762,
 3769,
 3772,
 3773,
 3776,
 3779,
 3781,
 3785,
 3786,
 3787,
 3789,
 3796,
 3798,
 3805,
 3806,
 3807,
 3813,
 3814,
 3819,
 3820,
 3821,
 3824,
 3827,
 3831,
 3833,
 3837,
 3839,
 3840,
 3844,
 3848,
 3849,
 3855,
 3863,
 3872,
 3886,
 3888,
 3892,
 3895,
 3896,
 3897,
 3907,
 3908,
 3911,
 3913,
 3916,
 3917,
 3918,
 3930,
 3933,
 3935,
 3936,
 3937,
 3938,
 3940,
 3946,
 3949,
 3955,
 3957,
 3963,
 3964,
 3971,
 3979,
 3994,
 4001,
 4008,
 4016,
 4017,
 4019,
 4020,
 4024,
 4029,
 4031,
 4034,
 4036,
 4041,
 4049,
 4050,
 4051,
 4052,
 4054,
 4055,
 4058,
 4059,
 4060,
 4062,
 4066,
 4069,
 4072,
 4073,
 4077,
 4078,
 4083,
 4085,
 4087,
 4091,
 4093,
 4094,
 4100,
 4101,
 4103,
 4108,
 4110,
 4115,
 4116,
 4121,
 4123,
 4124,
 4126,
 4127,
 4132,
 4137,
 4138,
 4140,
 4145,
 4148,
 4156,
 4159,
 4160,
 4162,
 4168,
 4169,
 4173,
 4176,
 4182,
 4186,
 4189,
 4191,
 4194,
 4204,
 4205,
 4213,
 4218,
 4220,
 4222,
 4223,
 4225,
 4238,
 4241,
 4245,
 4248,
 4250,
 4251,
 4265,
 4267,
 4274,
 4275,
 4277,
 4279,
 4280,
 4283,
 4285,
 4292,
 4293,
 4296,
 4297,
 4299,
 4312,
 4313,
 4316,
 4321,
 4322,
 4329,
 4331,
 4335,
 4340,
 4344,
 4348,
 4351,
 4352,
 4367,
 4371,
 4372,
 4374,
 4381,
 4383,
 4388,
 4390,
 4401,
 4402,
 4409,
 4411,
 4413,
 4414,
 4415,
 4416,
 4418,
 4423,
 4427,
 4430,
 4434,
 4443,
 4448,
 4450,
 4453,
 4456,
 4457,
 4460,
 4463,
 4467,
 4469,
 4471,
 4473,
 4476,
 4477,
 4479,
 4491,
 4494,
 4496,
 4497,
 4498,
 4503,
 4506,
 4510,
 4520,
 4523,
 4526,
 4527,
 4530,
 4545,
 4551,
 4552,
 4553,
 4560,
 4564,
 4568,
 4572,
 4573,
 4579,
 4585,
 4589,
 4592,
 4595,
 4598,
 4600,
 4603,
 4607,
 4616,
 4622,
 4623,
 4629,
 4632,
 4635,
 4639,
 4645,
 4660,
 4664,
 4671,
 4675,
 4719,
 4731,
 4747,
 4751,
 4758,
 4759,
 4769,
 4771,
 4772,
 4777,
 4779,
 4781,
 4783,
 4790,
 4800,
 4801,
 4802,
 4806,
 4807,
 4809,
 4817,
 4818,
 4819,
 4826,
 4828,
 4834,
 4837,
 4838,
 4843,
 4844,
 4860,
 4864,
 4878,
 4881,
 4891,
 4895,
 4903,
 4911,
 4918,
 4924,
 4925,
 4926,
 4932,
 4933,
 4936,
 4954,
 4956,
 4960,
 4961,
 4962,
 4963,
 4972,
 4973,
 4975,
 4976,
 4977,
 4981,
 4985,
 4987,
 4990,
 4993,
 5014,
 5018,
 5019,
 5020,
 5027,
 5032,
 5043,
 5045,
 5046,
 ...]

In [11]:
company1234 = df[df['gvkey']==1234]
company1234 = company1234[['fyear', 'act']]

In [12]:
company1234

        fyear     act
57       1990  16.531
4639     1991  21.123
9343     1992  23.232
14307    1993  23.520
19684    1994  12.666
31595    1996  24.323
51840    1999  18.702
65418    2001  20.678
95621    2006  30.658
101526   2007  32.609
107393   2008  49.107
113002   2009  56.202
118369   2010  51.981
123757   2011  83.742
129159   2012  56.747
134787   2013  90.319
140435   2014  74.136

In [18]:
# 
start_year = 1990
end_year = 2014

left_df = pd.DataFrame({'fyear': range(start_year, end_year+1)})
left_df.merge(company1234, on='fyear', how='left')

    fyear     act
0    1990  16.531
1    1991  21.123
2    1992  23.232
3    1993  23.520
4    1994  12.666
5    1995     NaN
6    1996  24.323
7    1997     NaN
8    1998     NaN
9    1999  18.702
10   2000     NaN
11   2001  20.678
12   2002     NaN
13   2003     NaN
14   2004     NaN
15   2005     NaN
16   2006  30.658
17   2007  32.609
18   2008  49.107
19   2009  56.202
20   2010  51.981
21   2011  83.742
22   2012  56.747
23   2013  90.319
24   2014  74.136